<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497089865521-sege4g2oqrd607opi95sthnuvqtvv77o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497089865521-sege4g2oqrd607opi95sthnuvqtvv77o</string>
	<key>API_KEY</key>
	<string>AIzaSyCgvVxn9JjtwRCerZITJojAt33qql5MnlA</string>
	<key>GCM_SENDER_ID</key>
	<string>497089865521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redlbur.RevolteChat</string>
	<key>PROJECT_ID</key>
	<string>revolte-9747b</string>
	<key>STORAGE_BUCKET</key>
	<string>revolte-9747b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497089865521:ios:a10f9581b20fe82a6a3210</string>
</dict>
</plist>